/* font styles */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
/* shared styles */
.display-flex{
    display: flex;
}
.max-width{
    /* max-width: 1440px;
    margin: auto; */
}

main> section{
    margin-top: 130px;
}

main{
    /* margin-top: 130px; */
    max-width: 1440px;
    margin: 0 auto;
}
/* nav styles */


.navbar{
    justify-content: space-between;
    align-items: center;
   
    margin: 30px 150px auto;

}
.nav-links li{
    list-style: none;
    
}
.nav-item a{
    text-decoration: none;
    margin-right: 34px;
}
/* banner style */

.banner{
    justify-content: space-between;
    /* justify-items: center; */
   
    align-items: center;
    align-items: bottom center;
    
    margin: 120px 150px;
    
    height: 461px;
    gap: 13px;
}
.banner-container{
    margin-top: 162px;
    height:299px;
}
.Banner-title{
    color:black;
    font-size: 3rem;
    font-weight: bold;
}
.banner-red{
color: #E95A08;
}
.banner-des{
    color: rgba(0, 0, 0, 0.5);
    font: inter;
    font-size: 1.2rem;
    font-weight: 400;
}

/* main section started */
main{
    /* margin-top: 130px; */
    max-width: 1440px;
    margin: 0 auto;
}

/* flower plants styles */
.Plants-Section{
    text-align: center;
    /* justify-content: center; */
}
.our-plants{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    gap:30px;


    max-width: 100%;
   margin: auto 150px;
    
}
.plant-container{
 /* justify-content: center;
 align-items: center; */
 text-align: center;
 margin: auto;
  
}
.btn-flower{
    background-color: #E95A08;
    font-size: 1rem;
    border: none;
    color: #FFFFFF;
    width: 270px;
    height: 50px;
    /* padding: 26px 50px; */
}

.plants-title{
    font-size: 3rem;
    font-weight: bold;
    color: black;
}
.plant-red{
    color: #E95A08;
}
.plants-des{
    font-family: inter;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
}


/* flower-lover-styles */
.flower-lover-section{
    /* margin-top: 200px; */
    display: flex;
    text-align:left;
    justify-content: center;
    gap: 70px;

    max-width: 100%;
    margin: auto ;
}

.flower-lover-title{
    font-weight: bold;
    font-size: 3rem;
    color: black;
    gap: 60px;
}
.flower-lover-des{
    font-size: 1.2rem;
    font-weight: 400;
    font-family: inter;
    max-width: 540px;
    
}
.trusted-badge{
    height: 286px;
    width: 286px;
    margin-left: 370px;
    margin-top:-127px;
    position:absolute;
   
}
/* Best Deals section */
.best-deal-title{
    font-size: 3rem;
    font-weight: bold;
    color: #E95A08;
}

.best-deal-red{
    color: black;
}
.best-deal-des{
 font-size: 1.2rem;
    font-weight: 400;
    font-family: inter;
   color: rgba(0, 0, 0, 0.5)
}
.best-deals{
    /* display: flex; */
    text-align: center;
    max-width: 100%;
    margin: auto;
}
   .best-img{
    display: flex;
    justify-content: center;
    gap: 30px;
   } 
   .best-img2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
   gap: 26px;
    
    
   }
.best-img1 img{
border-radius: 22px;
}
.best-img3{
 border-radius: 14px;
  
 /* gap: 30px; */
}
/* text over image */
.image-text, .discount, .shop-now{
/* position: absolute; */
align-items: center;
text-align: center;
justify-content: center;
justify-items: center;
padding: 65px 48px;
}
.best-img1, .image-text{
position: absolute;
display: ;
}






/*  colorful-subscription-button*/
.colorful-container{
    display: flex;
    background-image: url("/assets/news-letter-bg.png");
    max-width: 100%;
    height: 550px;
            /* margin: 0; */
    
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     justify-content: center;
    text-align: center;
    align-items: center;
}

.colorful-subscription-button h1{
   
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
}
.email-input{
    width: 664px;
    height: 50px;
}
.subscribe-btn{
    width: 186px;
    height: 55px;
    color: #FFFFFF;
    background-color: #E95A08;
    border: none;
    
}




/* footer styles */
.footer-items{
    margin: 50px auto;
    /* margin-bottom: 50px; */
    display: flex;
    justify-content: center;
    align-items:top;
    gap: 200px;
}
.footer-nav a{
    text-decoration: none;
    
   
}
.footer-nav{
     display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
/* .footer-icon img{
    align-content: top;
} */

 /* <h3 class="best-img-h3-1">60% Off | Bloom Plant</h3>
                    <h5 class="best-img-h5-2">Shop Now</h5> */

/* Responsive Media Query */ 
@media screen and (max-width : 576px)
{
.colorful-subscription-button input{
    width: 321px;
    justify-items: center;
}
    main{
        max-width: 340px;
    }
    .flower-lover-section,
    .footer-items,
    .footer-nav
    {
        flex-direction: column;
    }
    .footer-nav{
        grid-template-columns: repeat(1, 1fr);
        margin-top: -120px;
        margin-bottom:-120px;
        
    }
.footer-items{
    justify-items: center;
}

.footer-items{
    margin-left: 15px;
    margin-right: 15px;
}


    .navbar {
    margin: 15px 20px; 
    flex-direction: column; 
    gap: 10px; 
  }

  .nav-links {
    flex-direction: column; 
    align-items: center;
    gap: 8px; 
  }

  .nav-item a {
    margin-right: 0; 
    margin-bottom: 5px; 
  }

  /* Banner adjustments */
  .banner {
    flex-direction: column-reverse; 
    /* margin: 28px 28px 0; */
    margin-left: 28px;
    margin-right: 28px;
    height: auto;
    gap: 0; 
    justify-items: center;
  }

  .banner img {
    width: 100%; 
    /* max-width: 300px; 
    margin-bottom: 10px;  */
    margin:26px 16px;}

  .banner-container {
    margin-top: 20px; 
    height: auto; 
    padding: 0 20px;
    text-align: center;}

  /* .Banner-title {
    font-size: 2rem;
    line-height: 1.2; 
  } */

  /* .banner-des {
    font-size: 1rem; 
    line-height: 1.5;
  } */

  .banner-des br {
    display: none; 
  }
.Plants-Section,
.plants-title,
.plants-des
{
     max-width: 326px;
     margin: 30px 20px;
justify-items: center;

}
  .our-plants{
    /* display: grid; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* margin: 30px 20px; */
margin-left: 20px;
margin-right: 20px;
    /* width: 326px; */
    gap: 20px;
 /* padding: 0 20px; */
justify-items: center;
  }





  .plant-container{
max-width: 100%;
  }





  .flower-lover-section{
    
    margin-left: 15px;
margin-right: 15px;
justify-items: center;
  }


  .best-img{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .best-img2 img{
    margin-right: 20px
  } ;
}






















